.btn {
  background: #EB3349;
  border: none;
  width: auto;
  padding: 12px 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}