/* Comments */
.comments {
  padding-top: 30px;
  margin-bottom: 30px;
  background: #f5f5f5;
  padding: 20px;
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $primary_color;
  }
  &__list {
    margin-top: 20px;
  }
  &__item {
    span {
      padding-right: 10px;
    }
    article {
      padding: 10px 0;
      border-bottom: 1px dashed #e1e1e1;
    }
  }
  &__item__date {
    color: #ccc;
    font-size: 13px;
  }
  &__item__author {
    font-weight: 700;
  }
  &__item__content {
    font-size: 16px;
    p {
      margin: 5px 0;
    }
    a {
      color: $primary_color
    }
  }
  &__item__children {
    padding-left: 25px;
  }
  &__form {
    margin-top: 30px;
    textarea {
      height: 150px;
    }
    .comments__title {
      margin-bottom: 20px;
    }
  }
  &__moderation {
    background: rgb(0, 255, 222);
    font-style: italic;
    padding: 5px 12px;
    margin-bottom: 20px;
  }
}