/** Form **/
.form {
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
  }
  textarea {
    height: 100px;
    resize: none;
  }
  input, textarea {
    font-family: inherit;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    box-sizing: border-box;
  }
}